body{
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    background-image: url('./Assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: sans-serif;
}

header{
    padding: 2em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
        gap: 1em;
        list-style-type: none;
    }

    .btn{

        button{
            padding: 1em 2em;
            border-radius: .5em;
            border: none;
            background-color: #003465;
            color: white;
            
            transition: background .5s ease-in-out;
            cursor: pointer;
        }:hover{
            background-color: #ffffff;
            color: #003465;
            
        }
    }
}
.logo img{
    width: 50px;
    object-fit: contain;
    border-radius: 1em;
    height: 50px;
}
.dropdown:hover .dropdown-content{
    /* position: relative; */
    display: flex;
}
.dropdown-content{
    background-color: #ffffff;
    display: flex;
    color: black;
    position: absolute;
    z-index: 1;
    min-width: 150px;
    min-height: 100px;
    padding: 1em;
    gap: 2em;
    display: none;
    flex-direction: column;
    box-sizing: content-box;

    span:hover{
        background-color: #003465;
        color: white;
        padding: .5em 1em;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.login{
        background-color: rgba(88, 130, 193, 0.28);
        border: 2.13px solid linear-gradient(to bottom, #5882C1, #5882C1);
        border-radius: 28.46px;
        width: 410px;
        height: 450px;
        backdrop-filter: blur(10px);
        padding: 20px;
        box-sizing: border-box;
        padding: 0 5em;

}

.login h2{
    text-align: center;
}

.login form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 6px;
}

input{
    border: none;
    background-color: white;
    padding: .5em 1em;
    font-size: 13px;
    border-radius: .4em;
}

label a{
    text-decoration: none;
    color: white;
}

form button{
    background-color: #003465;
    color: white;
    border: none;
    padding: .5em 1em;
    font-size: 13px;
    border-radius: .4em;
    cursor: pointer;
}
.login-footer-aria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}
.small-text{
    font-size: 9.96px;
}
span{
    font-weight: 100;
}
.social-login-icons{
    display: flex;
    gap: 1em;

}

.social-login-icons button{
    padding: .1em 1.5em;
    border: none;
    border-radius: .5em;

}

